:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

figure {
    margin: 0;
}

/* 
   tamaño de tarjeta 400px
*/

body {
    position: relative;
    overflow-x: hidden;
    font-family: sans-serif;
    background-color: var(--Pale-blue);
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 437px;
    background: url(../images/pattern-background-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.contenedor-tarjeta-flex-padre {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta-flex-hijo {
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    border-radius: 10px;
}

.figure-tarjeta img {
    width: 100%;
    height: 100%;
}

.tarjeta-textos {
    padding: 40px;
    background: #fff;
}

.tarjeta-textos .titulo {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    color: var(--Dark-blue);
}

.parrafo-principal {
    margin: 0;
    margin-bottom: 16px;
    text-align: center;
    line-height: 1.6;
    color: var(--Desaturated-blue);
}

.status-card {
    max-width: 100%;
    margin-bottom: 1.5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Very-pale-blue);
    border-radius: 10px;
}

.status-card-children {
    display: flex;
    align-items: center;
    gap: 10px;
}

.status-card-children img {
    height: 100%;
}

.status-card-children .status-card-children-text h3, p {
    margin: 0;
    text-align: left;
}

.status-card-children .status-card-children-text h3 {
    margin-bottom: 6px;
}

.status-card-children .status-card-children-text p {
    color: var(--Desaturated-blue);
}

.boton {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    display: inline-block;
    font-weight: bold;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: var(--Bright-blue);
    cursor: pointer;
}

.enlace {
    width: 100%;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: var(--Dark-blue);
    text-align: center;
    text-decoration: none;
    opacity: 0.8;
}

/* Media-Query */
@media (max-width: 414px) {
    .tarjeta-flex-hijo {
        margin: 1.3rem;
    }

    .status-card-children .status-card-children-text h3 {
        margin-bottom: 6px;
        font-size: 14px;
    }
    
    .status-card-children .status-card-children-text p {
        color: var(--Desaturated-blue);
    }
}

@media (max-width: 375px) {
    .tarjeta-flex-hijo {
        margin: 1rem;
    }
}